{% extends "layout.html" %}
{% block body %}
<div class="inner m-5">
    <h2 class="text-center pb-3 text-primary">Inventory</h2>
    <div class="container-sm bg-light rounded p-3" style="min-height: 300px;">
        <h4 class="text-center pt-5">Simulasi Perpindahan Inventory</h4>
        <h6 class="text-center">Silakan tekan button di bawah ini untuk melakukan simulasi</h6>
        <div class="d-flex justify-content-center mt-5">
            <a href="/inventory-simulation"><button type="button" class="btn btn-warning">Mulai!</button></a>
        </div> 
           
    </div>
</div>
{% endblock %}